{% extends "base.html" %}
 
{% block mainbody %}
    <section class="container">
      <div class="panel">
        <div class="text-center">
          <h2><stong>500错误！很抱歉，服务器歇菜了！</stong></h2>
          <div>
            <div class="float-left"> <img src="/static/images/404/left.gif" alt="" />
              <div class="alert"> 卧槽！服务器歇菜了！ </div>
            </div>
            <div class="float-right"> <img src="/static/images/404/right.png" width="260" class="hidden-xs" alt="" /> </div>
          </div>
          <div class="padding-big"> <a href="" class="btn btn-primary">返回首页</a> <a href="feedback" class="btn btn-default">保证不打死管理员</a> </div>
        </div>
      </div>
    </section>
{% endblock %}