{% extends "base.html" %}

{% block mainhead %}
    <link rel="stylesheet" type="text/css" href="/static/css/nprogress.css">
    <script src="/static/js/nprogress.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/bootstrap-paginator.js"></script>
{% endblock %}

{% block mainbody %}

    <div class="content-wrap">
        <div class="content">
          <header class="article-header">
            <h1 class="article-title"><a href="article.html" id="article-title">fdsfdsfsaf</a></h1>
            <div class="article-meta" id="simple_info">
            </div>
          </header>
          <article class="article-content" id="article-content">
          </article>

            <script type="text/javascript">
                var article = {{ article|safe }};
                console.log("article" + article.article_name)
                $("#article-title").text(article.article_name)
                $("#createTime").text(formatDateTime(article.create_time))
                $("#simple_info").append("<span class=\"item article-meta-time\">\n" +
                    "              <time class=\"time\" id=\"createTime\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"时间："+formatDateTime(article.create_time)+"\"><i class=\"glyphicon glyphicon-time\"></i> "+formatDateTime(article.create_time)+"</time>\n" +
                    "          </span>");
                $("#simple_info").append("<span class=\"item article-meta-source\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"来源："+article.source+"\"><i class=\"glyphicon glyphicon-globe\"></i> "+article.source+"</span>");
                if (article.category.category_name) {
                    $("#simple_info").append("<span class=\"item article-meta-category\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"栏目："+article.category.category_name+"\"><i class=\"glyphicon glyphicon-list\"></i> <a href=\"program\" title=\"\">"+article.category.category_name+"</a></span>\n");
                } else {
                    $("#simple_info").append("<span class=\"item article-meta-category\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"栏目：默认分类\"><i class=\"glyphicon glyphicon-list\"></i> <a href=\"program\" title=\"\">默认分类</a></span>\n");
                }
                $("#simple_info").append("<span class=\"item article-meta-views\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"查看："+article.watched+"\"><i class=\"glyphicon glyphicon-eye-open\"></i> 共"+article.watched+"人围观</span>\n");
                $("#simple_info").append("<span class=\"item article-meta-comment\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"评论：0\"><i class=\"glyphicon glyphicon-comment\"></i> 0个不明物体</span>\n");
                $("#article-content").append(article.article_content)

                function formatDateTime(inputTime) {
                    var date = new Date(inputTime);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? ('0' + m) : m;
                    var d = date.getDate();
                    d = d < 10 ? ('0' + d) : d;
                    var h = date.getHours();
                    h = h < 10 ? ('0' + h) : h;
                    var minute = date.getMinutes();
                    var second = date.getSeconds();
                    minute = minute < 10 ? ('0' + minute) : minute;
                    second = second < 10 ? ('0' + second) : second;
                    return y + '-' + m + '-' + d+' '+h+':'+minute+':'+second;
                };
            </script>

          <div class="article-tags">标签：<a href="" rel="tag">python</a></div>
          <div class="title" id="comment">
            <h3>评论 <small>抢沙发</small></h3>
          </div>
          <!--<div id="respond">
            <div class="comment-signarea">
              <h3 class="text-muted">评论前必须登录！</h3>
              <p> <a href="javascript:;" class="btn btn-primary login" rel="nofollow">立即登录</a> &nbsp; <a href="javascript:;" class="btn btn-default register" rel="nofollow">注册</a> </p>
              <h3 class="text-muted">当前文章禁止评论</h3>
            </div>
          </div>-->
          <div id="respond">
              <div class="comment">
                <div class="comment-title"><img class="avatar" src="images/icon/icon.png" alt="" /></div>
                <div class="comment-box">
                  <textarea placeholder="您的评论可以一针见血" name="comment" id="comment-textarea" cols="100%" rows="3" tabindex="1" ></textarea>
                  <div class="comment-ctrl"> <span class="emotion"><img src="/static/images/face/5.png" width="20" height="20" alt="" />表情</span>
                    <div class="comment-prompt"> <i class="fa fa-spin fa-circle-o-notch"></i> <span class="comment-prompt-text"></span> </div>
                    <input type="hidden" name="" value="" id="article_id" class="article_id" />
                    <button type="submit" name="comment-submit" id="comment-submit" tabindex="5">评论</button>
                  </div>
                </div>
                <script type="text/javascript">
                    var article = {{ article|safe }};
                    console.log("article id:" + article.id);
                    $("#article_id").val(article.id);
                </script>
              </div>
          </div>
          <div id="postcomments">
            <ol class="commentlist" id="commentlist">

             </ol>
             <div id="example"></div>
          </div>
        </div>
    </div>

{% endblock %}

{% block bodyscript %}
    <script src="/static/js/comment.js"></script>
    <script src="/static/js/jquery.qqFace.js"></script>
    <script type="text/javascript">
    $(function(){
        $('.emotion').qqFace({
            id : 'facebox',
            assign:'comment-textarea',
            path:'/static/images/arclist/'	//表情存放的路径
        });
     });
    </script>
{% endblock %}