{% extends "base.html" %}
{% block mainbody %}
    <div class="content-wrap">
        <div class="articlecontent">
          <div class="content-body">
              <link rel="stylesheet" type="text/css" href="/ueditor/UE/third-party/SyntaxHighlighter/shCoreDefault.css">
              <script type="text/javascript" src="/ueditor/UE/third-party/SyntaxHighlighter/shCore.js"></script>
              <script type="text/javascript" src="/ueditor/UE/ueditor.config.js"></script>
              <script type="text/javascript" src="/ueditor/UE/ueditor.all.min.js"></script>
              <script type="text/javascript" src="/ueditor/UE/lang/zh-cn/zh-cn.js"></script>
              <script type="text/javascript">
                  var ue = UE.getEditor('editor');
                  SyntaxHighlighter.all();
              </script>
              <div class="form-group">
                <label for="title_label">标题</label>
                <input type="text" class="form-control" id="title_input" placeholder="请输入标题" autofocus maxlength="40" autocomplete="off" required>
                  <div class="dropdown" style="margin-top: 10px;">
                    <label for="title_label" style="margin-right: 10px">分类</label>
                    <select id="categary" class="form-control">
                        {% for item in categroy %}
                            <option value="{{ item.id }}">{{ item.category_name }}</option>
                        {% endfor %}
                    </select>

                </div>
                  <label for="title_label" style="margin-top: 10px">内容</label>
                <script id="editor" type="text/plain" style="width:100%;height:800px;"></script>
              </div>
          </div>
          <div class="modal-footer">
              <button type="submit"  id="save_article" class="btn btn-primary">创建内容</button>
          </div>
          <script type="text/javascript" src="/static/js/article.js"></script>
        </div>
      </div>
{% endblock %}